/* تنسيق عام */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* تنسيق العناوين */
h1, h2 {
    color: hwb(0 4% 13%);
    text-align: center;
}

/* تنسيق الصور */
.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* تنسيق الجداول */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #7f14d6;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #9ae60e;
    color: hsl(194, 86%, 48%);
}

/* تنسيق البراغراف */
.paragraph {
    font-size: 18px;
    color: hsl(249, 85%, 49%);
    text-align: justify;
}

/* تنسيق الرابط */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}